@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+NL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  scrollbar-width: thin;
  scrollbar-color: #313132 #c1bdb6;
  box-sizing: border-box;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #c1bdb6; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #313132; /* color of the scroll thumb */
  border-radius: 45rem; /* roundness of the scroll thumb */
}

:root {
  --black--: #232323;
  --blue--: #262692;
  --white--: #c1bdb6;
  --lightblue--: #3e3eeb;
  --gray--: #f5f6fa;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}


h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
}

#properties {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.size {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.size li {
  position: relative;
  display: inline-block;
  line-height: 24px;
  font-size: 18px;
}

.size li:not(:last-child) {
  padding-right: 1rem;
}

.size li:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
  height: 1.5em;
  background: #e8e9ee;
  transform: translate3d(0, -50%, 0);
}

.size li a {
  text-decoration: none;
  color: var(--lightblue--);
  font-weight: 300;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* 5 */
.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: var(--blue--);
  background: linear-gradient(0deg, var(--blue--) 0%, var(--lightblue--) 100%);
}
.btn-5:hover {
  color: var(--white--);
  background: transparent;
  box-shadow: none;
}
.btn-5:before,
.btn-5:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: var(--white--);
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.btn-3 {
  background: var(--blue--);
  background: linear-gradient(0deg, var(--lightblue--) 0%, var(--blue--) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover {
  background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}

#team {
  padding: 2rem;
  margin-top: 2rem;
  background-color: var(--gray--);
  text-align: center;
}
